@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Gaegu:wght@400;700&family=Hi+Melody&family=Nanum+Brush+Script&display=swap');

/* font-family: 'Abel', sans-serif;
font-family: 'Gaegu', cursive;
font-family: 'Hi Melody', cursive;
font-family: 'Nanum Brush Script', cursive; */

*{margin: 0; padding: 0;}

.text{
    position: fixed;
    z-index: 100;
}

.fixed_bg{
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
img{
    width: 200px;
    height: 300px;
}
.slide{
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
}

.slide2{}
.slide2 img{/* 철수 */
    width: 165px;
    height: 268px;
}

.slide7{}
.slide7 img{/* 흰둥이 */
    width: 191px;
    height: 284px;
}
.slide8{}
.slide8 img{
    width: 250px;
    height: 400px;
}
.title_bg{
    background: url(img/bg.jpg);
    background-size: cover;
    z-index: 1;
}

.title_text1,
.title_text2{
    z-index: 2;
}
h2{
    font-family: 'Gaegu', cursive;
    font-size: 120px;
}



